/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-color: #313131;
    color: white;
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal; */
    font: normal 16px arial, helvetica, sans-serif;
    line-height: 25px;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}

.box-1 {
    background-color: #5B84B1FF;
    border: 5px yellow solid;
    padding: 20px;
    margin: 20px 0;
}

.box-1 h1 {
    font-family: tahoma;
    font-weight: 600;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 5px;
}